#github-banner {
    display: block;
    position: absolute;
    top: 0px;
    left: 112px;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url(blacktocat.png) #000 no-repeat 95% 50%;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.hovertext {
    position: relative;
    border-bottom: 1px dotted black;
  }
  
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }